/frontend/node_modules/**/*
/frontend/.git
/frontend/.vscode
/frontend/.idea
/frontend/.gitignore
/frontend/.prettierrc
/frontend/package-lock.json
/frontend/.expo/*
/frontend/npm-debug.*
/frontend/*.jks
/frontend/*.p8
/frontend/*.p12
/frontend/*.key
/frontend/*.mobileprovision
/frontend/*.orig.*
/frontend/web-build/
/frontend/web-report/
/frontend/android
/frontend/test-archive
.easignore
/frontend/dist
/backend